.root{
    /*  COLOR BANK */
    -fx-cel: #b5d6b2ff;
    -fx-cosmos: #53131eff;
    -fx-rose: #5a464cff;
    -fx-lemon: #fffaccff;
    -fx-vanilla: #ffefbdff;

    -fx-alice-blue: #e8eef2ff;
    -fx-timberwolf: #d6c9c9ff;
    -fx-grayn: #c7d3ddff;
    -fx-argentinian-blue: #77b6eaff;
    -fx-onyx: #37393aff;
    -fx-bgc: rgba(239,239,239,1);

    -fx-background-color: white;
}
#sidePane{
    -fx-background-color: -fx-grayn;
}
#mainPane{
    -fx-background-color: white;
}
.split-pane-divider {
    /* Slider styles */
    -fx-background-color: rgba(0, 0, 0, 0.1); /* Set background color */
    -fx-padding: 1px; /* Set padding */
}
.button{
    -fx-background-color: -fx-grayn;
    -fx-text-fill: -fx-onyx;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1px;
}
.button:hover{
    -fx-background-color: rgba(119, 182, 234, 0.17);
}
.sidebar-buttons{
    -fx-background-color: -fx-grayn;
    -fx-text-fill: -fx-onyx;
    -fx-border-color: rgba(0, 0, 0, 0.1);
    -fx-border-width: 1px;
}
.sidebar-buttons:hover{
    -fx-background-color: rgba(119, 182, 234, 0.17);
}
#scanPane{
    -fx-background-color: -fx-bgc;
}
#attPane{
    -fx-background-color: -fx-bgc;
}
#umPane{
    -fx-background-color: -fx-bgc;
}
#setPane{
    -fx-background-color: green;
}

/* ATTENDANCE */
/*.table-view .column-header-background .filler {*/
/*    -fx-background-color: transparent;*/
/*}*/
/*.table-view .corner {*/
/*    -fx-background-color: transparent;*/
/*}*/
/*.table-view .column-header-background{*/
/*    -fx-background-color: #E8EEF2;*/
/*    -fx-background-radius: 7px 7px 0px 0px;*/
/*    -fx-padding: 0 0 5px 0;*/
/*}*/
/*.table-view .column-header {*/
/*    -fx-background-color: transparent;*/
/*}*/
/*.table-view .table-cell{*/
/*    -fx-border-color: transparent;*/
/*    -fx-padding: 2 0 2 10px;*/
/*}*/
/*.table-row-cell:hover {*/
/*    -fx-background-color: #e8eef2;*/
/*    -fx-text-background-color: red;*/
/*}*/
/*.table-row-cell:odd{*/
/*    -fx-background-color: rgba(232, 238, 242, 0.11);*/
/*    -fx-text-background-color: black;*/
/*    -fx-background-insets: 0, 0 0 1 0;*/
/*    -fx-padding: 0.0em;*/
/*}*/
/*.table-row-cell:even{*/
/*    -fx-background-color: transparent;*/
/*    -fx-text-background-color: black;*/
/*    -fx-background-insets: 0, 0 0 1 0;*/
/*    -fx-padding: 0.0em;*/
/*}*/

#addUserPane{
    -fx-background-color: white;
    -fx-border-color: -fx-timberwolf;
}
#updateUserPane{
    -fx-background-color: white;
    -fx-border-color: -fx-timberwolf;
}
#removeUserPane{
    -fx-background-color: white;
    -fx-border-color: -fx-timberwolf;
}

#age{
    -fx-text-fill: -fx-argentinian-blue;
}
#dialoguePane{
    -fx-background-color: white;
}
#confirmPasswordField{
    -fx-background-color: white;
    -fx-border-color: -fx-timberwolf;
}

#presentChart{
    -fx-bar-fill: -fx-argentinian-blue;
}
.default-color0.chart-bar { -fx-bar-fill: -fx-lemon;}
.data0.chart-pie { -fx-pie-color: -fx-cel; }
.data1.chart-pie { -fx-pie-color: -fx-cosmos; }
